<!DOCTYPE html>
<html lang="en">
<head>
  <!--This is an edited version of what is given in index.html of Bootstrap's dashboard example -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="FormController">
    <div class="container-fluid">
      <div class="row">
        <h1>Forms</h1>
      </div>
      <div class="row">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#/forms">Forms</a></li>
          <li role="presentation"><a href="#/fields">Fields</a></li>
        </ul>

        <div class="container-fluid tab-box"> 
          <div id="forms-table" class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>  <div class="caret"></div> Form Name</th>
                  <th> <div class="caret"></div> Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input class="form-control" type="text" placeholder="title" id="title" ng-model="form.title"></input>
                  </td>
                  <td>
                    <button class="btn btn-default">
                     <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="model.addForm(form)"></span>
                   </button>
                   <button class="btn btn-default">
                     <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-click="model.updateForm(form)"></span>
                   </button>
                 </td>
               </tr>
               <tr ng-repeat="form in model.forms" ng-class="{'success' : $index == selectedFormIndex }">
                      <td>
                        <a ng-href="#/user/{{form.userId}}/form/{{form._id}}/field">{{form.title}}</a>
                      </td>
                      <td>
                        <button type="button" class="btn btn-default">
                             <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="model.deleteForm($index)"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                             <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="model.selectForm($index)"></span>
                        </button>
                      </td>
                    </tr>
             </tbody>
           </table>
         </div>
       </div>
     </div>
   </body>
   </html>

