.btn-group-align {
    display:inline-block;
}

.bigBorder {
    border-width: 2px;
}

.container-view {
    margin-top: 50px;
}

.tab-box {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-width: 1px 0;
    border-color: #EEEEEE;
    -moz-use-text-color #FFFFFF;
    border-style: solid none;
}

.dropdown-menu {
  width: 100%; 
}

.top-bottom-small-pad {
    padding-top: 10px;
    padding-bottom: 10px;
}
