<div class="container col-sm-10">
	<div class="row col-sm-12 col-sm-offset-6">
		<h1>Dashboard</h1>
	</div>
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#">Interested</a></li>
		<li role="presentation"><a href="#">Applied</a></li>
		<li role="presentation"><a href="#">Interviewing</a></li>
	</ul>
	<div class="container">
		<div id="listing_short">
			<h4 class="col-sm-4"> Listing Title </h4>
			<button class="btn btn-default col-sm-4">Apply</button>
			<button class="btn btn-default col-sm-4">Remove</button>
		</div>
	</div>
</div>