<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="FieldController">
	<div class="container-fluid">
		<div class="row">
			<h1>Forms : Registration Form</h1>
		</div>
		<div class="row">
			<ul class="nav nav-tabs">
				<li role="presentation"><a href="#/forms">Forms</a></li>
				<li role="presentation" class="active"><a href="#/fields">Fields</a></li>
			</ul>

			<div class="container-fluid tab-box" >
				<div class="row container-fluid top-bottom-small-pad relative" ng-switch="field.type" ng-repeat="field in model.fields">

					<!-- Text Field -->
					<div ng-switch-when="TEXT" ng-model="field">
						<label class="col-xs-6">
							{{field.label}}
							<input type="text" class="form-control" placeholder="{{field.placeholder}}"</input>
						</label>
						<div class="col-xs-2"></div>
					</div>

					<!-- Text Field(Email) -->
					<div ng-switch-when="EMAIL" ng-model="field">
						<label class="col-xs-6">
							{{field.label}}
							<input type="email" class="form-control" placeholder="{{field.placeholder}}"></input>
						</label>
						<div class="col-xs-2"></div>
					</div>

					<!-- Text Area -->
					<div ng-switch-when="TEXTAREA" ng-model="field">
						<label class="col-xs-6">
							{{field.label}}
							<textarea class="form-control" rows="10" cols="70" placeholder="{{field.placeholder}}"></textarea>
						</label>
					</div>

					<!-- Date Picker -->
					<div ng-switch-when="DATE" ng-model="field">
						<label class="col-xs-6">
							{{field.label}}
							<input type="date" class="form-control date-picker" name="dob" ng-model="field.value"></input>
						</label>
					</div>

					<!-- Dropdown -->
					<div ng-switch-when="OPTIONS">
						<label for="selectDropdown" class="col-xs-6 container-fluid">
							{{field.label}}
							<select id="selectDropdown" class="form-control container-fluid">
								<option value="{{option.value}}" ng-repeat="option in field.options">{{option.label}}</option>
							</select>
						</label>
					</div>

					<!-- Checkboxes -->
					<div ng-switch-when="CHECKBOXES">
						<label for="checkBoxes" class="container-fluid col-xs-6">
							{{field.label}}
							<div id="checkBoxes" class="container-fluid">
								<div class="checkbox container-fluid" ng-repeat="option in field.options">
									<input type="checkbox" value="{{option.value}}"> {{option.label}}<br>
								</div>	
							</div>
						</label>
					</div>

					<!-- Radio Buttons -->
					<div ng-switch-when="RADIOS">
						<label for="radioGroup" class="container-fluid col-xs-6">
							{{field.label}}
							<div id="radioGroup" class="container-fluid">
								<div class="radio container-fluid" ng-repeat="option in field.options">
									<input type="radio" value="{{option.value}}" > {{option.label}}<br>
								</div>
							</div>
						</label>
					</div>

					<!-- Glyphicons -->
					<div class="col-xs-4 container-fluid pull-right buttons-bottom">
						<div class="btn-group-align input-group">
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
							<button type="button" class="btn btn-default" ng-click="model.deleteField(field)">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-menu-hamburger"></span>
							</button>
						</div>
					</div>
				</div> 
			</div>

			<!-- Add New Field Row -->

			<div class="row container-fluid">
				<hr class="bigBorder">
			</div>
			<div class="row container-fluid">
				<div class="container-fluid">
					<div class="col-xs-6">
					<select ng-model="model.fieldType" class="form-control">
						<option value="singleLine">Single Line Text</option>
						<option value="multiLine">Multi Line Text</option>
						<option value="date">Date</option>
						<option value="dropdown">Dropdown</option>
						<option value="checkbox">Checkboxes</option>
						<option value="radio">Radio Buttons</option>
			        </select>

					</div>
					<div class="col-xs-2 container-fluid"></div>
					<div class="col-xs-4 container-fluid btn-group-align" ng-click="model.addField(model.fieldType)">
						<button type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</div>
				</div>
			</div> 

		</div>
	</div> 
</div>
</div>