<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="container-fluid">
		<div class="row">
			<h1>Forms : Registration Form</h1>
		</div>
		<div class="row">
			<ul class="nav nav-tabs">
				<li role="presentation"><a href="#/forms">Forms</a></li>
				<li role="presentation" class="active"><a href="#/fields">Fields</a></li>
			</ul>

			<div class="container-fluid tab-box" ng-repeat="field in model.fields">

				<div class="row container-fluid" ng-switch="field.fieldType">
					<div ng-switch-when="singleLine">
						<label class="col-xs-6">
							{{field.label}}
							<input type={{field.type}} class="form-control" placeholder={{field.placeholder}} ng-model="field"></input>
						</label>
						<div class="col-xs-2"></div>
					</div>

					<div ng-switch-when="multiLine">
						<label class="col-xs-6">
							{{field.label}}
							<input type={{field.type}} class="form-control" rows="3" placeholder={{field.placeholder}} ng-model="field"></input>
						</label>
					</div>

					<div ng-switch-when="date">
						<label class="col-xs-6">
							{{field.label}}
							<input type={{field.type}} class="form-control" name="dob" ng-model="field"></input>
						</label>
					</div>

					<div ng-switch-when="dropdown">
						<label class="col-xs-6">
							{{field.label}}
							<div class="dropdown" ng-model="field">
								<button class="btn btn-default dropdown-toggle" type="button" id="genderDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									{{field.placeholder}}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="genderDropdown1" for="option in field.options">
									<li><a href="#" ng-model="option.value">{{option.label}}</a></li>
								</ul>
							</div>
						</label>
					</div>

					<div ng-switch-when="checkbox">
						<label for="checkBoxes" class="container-fluid">
							{{field.label}}
							<div id="checkBoxes">
								<div class="checkbox" for="option in field.options">
									<label>
										<input type={{field.type}} value={{option.value}} ></input>
										{{option.label}}
									</label>
								</div>	
							</div>
						</label>
					</div>

					<div ng-switch-when="radio">
						<label for="radioGroup" class="container-fluid">
							{{field.label}}
							<div id="radioGroup">
								<div class="radio" for="option in field.options">
									<label>
										<input type={{field.type}} value={{option.value}}></input>
										{{option.label}}
									</label>
								</div>
							</div>
						</label>
					</div>

					<!-- Glyphicons -->
					<div class="col-xs-4 container-fluid">
						<div class="btn-group-align input-group">
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
							<button type="button" class="btn btn-default" ng-click="model.removeField(field)">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-menu-hamburger"></span>
							</button>
						</div>
					</div>
				</div> 
			</div>
			
			<!-- Add New Field Row -->

			<div class="row container-fluid">
				<hr class="bigBorder">
			</div>
			<div class="row">
				<div class="container-fluid">
					<div class="col-xs-6">
						<label>Add New Field:
							<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									Single Line Text:
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-model="field.fieldType">
									<li ng-model="model.fieldType.singleLine"><a href="#">Single Line Text</a></li>
									<li ng-model="model.fieldType.multiLine"><a href="#">Multi Line Text</a></li>
									<li ng-model="model.fieldType.date"><a href="#">Date</a></li>
									<li ng-model="model.fieldType.dropdown"><a href="#">Dropdown</a></li>
									<li ng-model="model.fieldType.checkbox"><a href="#">Checkboxes</a></li>
									<li ng-model="model.fieldType.radio"><a href="#">Radio Buttons</a></li>

								</ul>
							</div>
						</label>
					</div>
					<div class="col-xs-2 container-fluid"></div>
					<div class="col-xs-4 container-fluid btn-group-align" ng-click="model.addField(model.fieldType)">
						<button type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</div>
				</div>
			</div> 

		</div>
	</div> 
</div>
</div>