<div class="container-view col-sm-10" id="wholeView">
	<div class="row col-sm-12 col-sm-offset-6">
		<h1>Powwows</h1>
	</div>
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#">Inbox</a></li>
		<li role="presentation"><a href="#">Sent</a></li>
	</ul>
	<div class="container">
		<div id="powwow_btn_options" class="row">
			<button class="btn btn-default">Delete</button>
			<button class="btn btn-default">Mark Read</button>
			<button class="btn btn-default">Mark Unread</button>
		</div>
	</div>
	<div class="container" id="message_list" >
		<div class="row">
			<img src="" alt="" class="col-sm-2"></img>
			<div id="msg" class="row col-sm-9">
				<h4 class="col-sm-4">FirstName LastName</h4>
				<p class="col-sm-6 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<input class="pull-right" type="checkbox" aria-label="">
			</div>
			<div class="row col-sm-10 col-sm-offset-2">
				<h5>Company</h5>
			</div>
		</div>
		<!-- Add a separator -->
		<hr id="separator">
		<div class="row">
			<img src="" alt="" class="col-sm-2"></img>
			<div id="msg1" class="row col-sm-9">
				<h4 class="col-sm-4">FirstName LastName</h4>
				<p class="col-sm-6 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<input class="pull-right" type="checkbox" aria-label="">
			</div>
			<div class="row col-sm-10 col-sm-offset-2">
				<h5>Company</h5>
			</div>
		</div>
		<!-- Add a separator -->
		<hr id="separator1">
		<div class="row">
			<img src="" alt="" class="col-sm-2"></img>
			<div id="msg2" class="row col-sm-9">
				<h4 class="col-sm-4">FirstName LastName</h4>
				<p class="col-sm-6 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<input class="pull-right" type="checkbox" aria-label="">
			</div>
			<div class="row col-sm-10 col-sm-offset-2">
				<h5>Company</h5>
			</div>
		</div>
		<!-- Add a separator -->
		<hr id="separator2">
		<div class="row">
			<img src="" alt="" class="col-sm-2"></img>
			<div id="msg3" class="row col-sm-9">
				<h4 class="col-sm-4">FirstName LastName</h4>
				<p class="col-sm-6 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<input class="pull-right" type="checkbox" aria-label="">
			</div>
			<div class="row col-sm-10 col-sm-offset-2">
				<h5>Company</h5>
			</div>
		</div>
		<!-- Add a separator -->
		<hr id="separator3">
	</div>
</div>