<div class="container">
	<div class="center-block text-center container-view">
		<a href="#/home" class="thumbnail">
			<img src="../assets/logo.png" alt="Gauntlet" style="width:300px;height:250px;">
		</a>
	</div>
</div>
<div class="jumbotron container-view">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-md-4">
				<a href="#" class="thumbnail container">
					<img src="../assets/coffee_icon.png" alt="../assets/coffee_icon.png" style="width:200px;height:200px;">
				</a>
				<p> Cut out the time consuming job of searching for and applying to new job opportunities.</p>
			</div>
			<div class="col-xs-4 col-md-4">
				<a href="#" class="thumbnail">
					<img src="../assets/work.jpg" alt="../assets/work.jpg" style="width:200px;height:200px;">
				</a>
				<p> Do what's most important to you - the actual work. </p>
			</div>
			<div class="col-xs-4 col-md-4">
				<a href="#" class="thumbnail">
					<img src="../assets/desk.jpg" alt="../assets/desk.jpg" style="width:200px;height:200px;">
				</a>
				<p> And have time to focus on other things.</p>
			</div>
		</div>
	</div>
</div>